<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet preconnect prefetch" type="text/css" href="https://FlightCSS.foxglovedev.repl.co/host/flightcss/beta.css">
  <link rel="stylesheet preconnect prefetch" type="text/css" href="css/theme.css">
	<link rel="stylesheet preconnect prefetch" type="text/css" href="css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
  <body>
		<!-- I kinda want to have the search bar in the reference page so you can look up specific syntax -->
		<!--
		<nav class="nav">
      <a href="/"><object class="brand" rel="preconnect prefetch" data="images/logo-white.svg" style="padding: 5px;"></object></a>
      <input class="search" placeholder="Search"></input>
    </nav>
		-->


		<!--
			sorry I'm really handicaped on this
			is there a better way to do this instead of
			inserting <hr> everywhere?
		-->
		<div id="sidebar">
			<img src="images/logo-trans.png" width="35">

			<h1>Night</h1>

			<hr>
			<p><b>Home</b></p>
			<hr>
			<p><a href="online-ide.html">Online IDE</a></p>
			<hr>
			<p><a href="tutorial.html">Tutorial</a></p>
			<hr>
			<p><a href="reference.html">Reference</a></p>
			<hr>
			<p><a href="source-build.html">Source Build</a></p>
			<hr>
			<p><a href="github">GitHub</a></p>
			<hr>
		</div>

    <div class="main">
      <h1>Night</h1>

			<p>Night is an interpreted programming language that combines the simplicity of Python, with the type concepts of the C family. The main goal of Night was to design a intuitive and easy to learn language.</p>
			
			<p>On this website, you'll find everything you need to get up and running with Night. Below is each page in detail.</p>

			<p>A major feature of Night that is targeted towards beginners is the ablility to code right here in this website without any downloads or external packages. You can check out the <a href="online-ide.html">Online IDE</a> page for more information. And just like any other language, Night allows you to build it from source, with thorough instructions on how to get started. You can check that out in the <a href="source-build.html">Source Build</a> page. Currently however, only Windows is supported.</p>

			<p>This website also features a complete tutorial to the language Night, perfect for beginners or anyone first time here. There's also a reference guide for a more indepth look at specific syntax. Currently, both the <a href="tutorial.html">Tutorial</a> page and <a href="reference.html">Reference</a> guide reflect <code>Night v3.0</code>.</p>

			<p>And finally, for extra information about this language, you can view the <a href="github.html">GitHub</a> page for a link to the GitHub repository, as well as more information on the specs of Night.</p>

			<p>Happy coding :)</p>
    </div>
  </body>
</html>
